@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(90deg, #ff4ec4 0%, #8a2be2 100%);
  color: white;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px;
  background: linear-gradient(90deg, #ff4ec4 0%, #8a2be2 100%);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 70px;
}

.logo h2 {
  font-weight: 700;
  color: #fff;
}

.logo span {
  color: #ff007f;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover,
nav a.active {
  color: #ff007f;
}

.login-btn {
  background: transparent;
  border: 1.5px solid #fff;
  border-radius: 20px;
  padding: 6px 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ff007f;
  border-color: #ff007f;
}
/* Search Box */
.search-box {
  position: relative;
}

.search-box input {
  border: none;
  border-radius: 20px;
  padding: 6px 35px 6px 15px;
  outline: none;
  width: 200px;
}

.search-box i {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #333;
}

/* Nav links */
nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #ff007f;
}

.login-btn {
  background: transparent;
  border: 1.5px solid #fff;
  border-radius: 20px;
  padding: 6px 16px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #ff007f;
  border-color: #ff007f;
}

/* Hero Section */
.hero {
  position: relative;
  height: 80vh;
  background: url("girl.jpeg")  no-repeat;
  border-radius: 20px;
  margin: 30px 80px;
  overflow: hidden;
}

/* Add overlay for semi-transparent layer */
.overlay {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 60px;
  padding-left: 60px;
  border-radius: 20px;
}

.hero-content {
  max-width: 400px;
  color: #fff;
  text-align: left;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.about-btn {
  background: #ff007f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.about-btn:hover {
  background: #ff3f9c;
}
